/*视差背景*/
        *{
            margin:0;
            padding: 0;
            border: none;


        }
        .external2{
          height:100vh;
        }
        html,body{
            height:100vh;
        }
        .bg{
          background-image: url("img/gif/bg_4.gif");
            background-attachment: fixed;
            background-size: 100% 100%;
            background-position:center;
            background-repeat: no-repeat;
            margin:0;
            padding: 0;
            border: none;
            height:120%;
            z-index:-1;
            max-width:100%;
            height:auto;
        }
        .bg1{
            background-image: url("img/bg_5.png");

        }
        .bg2{
            background-image: url("img/bg_5.png");
        }
        .bg3{
            background-image: url("img/bg_5.png");
        }


    /*滚动图图*/
      /* Inspired by this pen by Pieter Biesemans https://codepen.io/pieter-biesemans/pen/BQBWXX and My Mother Before Me project http://mymotherbeforeme.com/ */


      * {
        box-sizing: border-box;
      }

      /* hide scrollbar */
      ::-webkit-scrollbar {
        width: 1px;
        height: 1px;
      }

      ::-webkit-scrollbar-button {
        width: 1px;
        height: 1px;
      }
      .external {
        overflow: hidden;
        height: 100vh;
        z-index:999;
      }

      .horizontal-scroll-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vh;
        transform: rotate(-90deg) translate3d(0,-100vh,0);
        transform-origin: right top;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        height: 100vw;
        perspective: 1px;
      	transform-style: preserve-3d;
        padding-bottom: 10rem;
      }
      .img-wrapper {
        transform: rotate(90deg);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
        transform-origin: 50% 50%;
        transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
        transition: 1s;
      }

      .img-wrapper:hover {
       min-height: 60vh;
      }

      .slower {
        transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
        position: relative;
      }
      .slower1 {
        transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
        position: relative;
      }
      .slower2 {
        transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
        position: relative;
      }
      .slower-down {
        transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
        position: relative;
      }
      .faster {
        transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
        position: relative;
      }
      .faster1 {
        transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
        position: relative;
      }
      .fastest {
        transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
        position: relative;
      }
      .vertical {
         transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
         position: relative;
      }
      .last {
        transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
        position: relative;
      }


      .scroll-info, header {

        left: 1rem;
      }

      header {
        bottom: 1rem;
      }
      .scroll-info {
        top: 1rem;
      }
      a {
        color: inherit;
        font-weight: 500;
      }
      h1 {
        font-weight: 300;
        font-size: 1rem;
      }

      .img-wrapper a {
        overflow: hidden;
        display: block;
        padding: 1vh ;
        background: #ef3f50;
        box-shadow: 0 10px 50px #5f2f1182;
      }
      img {
        max-width: 45vh;
        max-height: 50vh;
        transition: .5s;
        vertical-align: top;
        filter: saturate(40%) sepia(30%) hue-rotate(5deg);

      }
      a:hover img {
        filter: none;
      }
      .p {
        margin: 0;
        align-items: center;
      }
      .scroll-info {
        font-family: Helvetica, sans-serif;
        font-weight: 500;
        color: black;
        display: flex;
        align-items: center;
      }



/*动态字*/

    .text {
      position: relative;
      width: 450px;
      left: 40%;
      margin-left: 400px;
      height: 40px;
      top: 40px;
      margin-top: -20px;
      font-family:Helvetica, sans-serif;
      font-weight: 380;
      font-size: 25px;
      color: black;
      position: fixed;
    }

    p {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }

    .word {
      position: absolute;
      width: 220px;
      opacity: 0;
    }

    .letter {
      display: inline-block;
      position: relative;
      float: left;
      transform: translateZ(25px);
      transform-origin: 50% 50% 25px;
    }

    .letter.out {
      transform: rotateX(90deg);
      transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .letter.behind {
      transform: rotateX(-90deg);
    }

    .letter.in {
      transform: rotateX(0deg);
      transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .Cry💦 {
      font-family: Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #000000;
    }

    .beijing{
      font-family:Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #3694f2;
    }

    .landingguy🌁 {
      font-family: Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #f4c200;
    }

    .Hana_and_Alice🌸 {
      font-family: Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #ff0087;
    }

    .mist {
      font-family: Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #6d6d6d;
    }

    .fakeflower☘ {
      font-family: Helvetica, sans-serif;
      font-weight: 320;
      font-size: 25px;
      color: #533293;
    }
